.history-links {
    height: 80%;
    ul {
        height: 25%;
        input {
            width: 45%;
            height: 50%;
            margin-left: 2%;
            margin-bottom: 0.5rem;
            cursor: pointer;
            font-size: 16px;
        }
    }
}